<%= form_with model: @deadline do |form| %>
  <div>
    <div>
      <form>
        <div>
          <%= form.label :name %><br>
          <%= form.text_field :name, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div>
          <%= form.label :description %><br>
          <%= form.text_area :description, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div>
          <%= form.label :date %><br>
          <%= form.datetime_select :date, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:date).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div>
          <%= form.label :color %><br>
          <%= form.color_field :color, value: "000" %>
        </div>

        <br>
        <br>
        <%= form.submit class: "btn btn-success" %>
      </form>
    </div>
  </div>
<% end %>
