<%= form_with model: @deadline do |form| %>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        <div class="form-group">
          <%= form.label :name %><br>
          <%= form.text_field :name, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :description %><br>
          <%= form.text_area :description, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :date %><br>
          <%= form.datetime_select :date, class: "form-control" %>
          <% @deadline.errors.full_messages_for(:date).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :color %><br>
          <input type="color" id="label_color" value="#FF0000">
        </div>

        <br>
        <br>
        <%= form.submit class: "btn btn-success" %>
      </form>
    </div>
  </div>
<% end %>
