
<%= form_with model: @date_range do |form| %>

<form>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @date_range.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <br>
    <%= form.label :start %><br>
    <%= form.date_select :start %>
    <% @date_range.errors.full_messages_for(:start).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <br>
    <%= form.label :end %><br>
    <%= form.date_select :end %>
    <% @date_range.errors.full_messages_for(:end).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  
  <div>
  <br>
  <div>
      <div>
        <div>
          <%= link_to 'Back', :back %>
        </div>
      </div>
      <div>
        <div>
          <%= form.submit %>
      </div>
    </div>
  </div>


  </form>
  </body>
<% end %>
