<% content_for :page_title do %>
  Log in
<% end %>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>
      <br>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
      </div>
      <br>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <br>

      <%= f.submit "Log in", class: "btn btn-success" %>
    <% end %>
    <br>
    <small>
      <%= render "devise/shared/links" %>
    </small>
  </div>
</div>
