<%= form_with(model: exampleuser) do |form| %>
  <% if exampleuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exampleuser.errors.count, "error") %> prohibited this exampleuser from being saved:</h2>

      <ul>
        <% exampleuser.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
