<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title> <!-- TODO change me -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Capstone</h1>
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
    </header>
      <nav>
        <div>
          <%= link_to("Home", root_path) %>
          <ul>
            <li>
              <%= link_to("Sign Up", new_user_registration_path) %>
            </li>
            <li>
              <%= link_to("Log In", new_user_session_path) %>
            </li>
          </ul>
        </div>
      </nav>
    <main>
      <h2>
        <%= yield :page_title %>
      </h2>
      <%= yield %>
    </main>
    <footer>
      &copy; 2021 COSC 499 Radio Team B
    </footer>
  </body>
</html>
